

<div class="title text-center p-3">
  <h1>Cocktails</h1>
</div>

<div class="cards container">

  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
        <%= cocktail.name %>
      </div>
    <% end %>
  <% end %>
</div>


        <%#= link_to edit_cocktail_path(cocktail) do %>
          <!-- <i class="far fa-edit"></i> -->
        <%# end %>
<%#= link_to "<i class='far fa-edit'></i>".html_safe, edit_cocktail_path(cocktail) %>
